<!DOCTYPE html>

<html lang="en">
    <head>
    	<meta name="viewport" charset="UTF-8">
        <title>Team Example VueJS</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>


        <!-- <div id="app">
            <div v-for="participant in sortedParticipants">
                <p>{{participant.displayName}}</p>
                <img :src="participant.avatarImageURL" :alt="participant.displayName">
                <p> {{participant.sumDonations}}/{{participant.fundraisingGoal}} </p>
                <a :href="participant.links.donate">DONATE</a>
             </div>
        </div> -->


        <div class="container" id="app">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1">
                    Fundraisers
                </h2>

            </div>
            <div class="row" v-for="participant in sortedParticipants">

                <!--Card-1-->
                <div class="card col-12 pb-5">
                    <div class="card-wrapper media-container-row media-container-row">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <!--Image-->
                                    <div class="mbr-figure">
                                        <img :src="participant.avatarImageURL" :alt="participant.displayName">
                                    </div>
                                </div>
                                <div class="col-12 col-md-10">
                                    <div class="wrapper">
                                        <div class="top-line pb-3">
                                            <h4 class="card-title mbr-fonts-style display-5">
                                                {{ participant.displayName}}
                                            </h4>
                                            <a :href="participant.links.donate" class="mbr-text cost mbr-fonts-style m-0 display-5">
                                                DONATE NOW!
                                            </a>
                                        </div>
                                        <div class="bottom-line">
                                            <p class="mbr-text mbr-fonts-style display-7">
                                                {{participant.sumDonations}}/{{participant.fundraisingGoal}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
        <script>
            // Loading `lodash.fp.js` converts `_` to its fp variant.
            _.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
            // ➜ { 'a': 1, 'b': 2 }

            // Use `noConflict` to restore the pre-fp variant.
            var fp = _.noConflict();

            _.defaults({ 'a': 1 }, { 'a': 2, 'b': 2 });
            // ➜ { 'a': 1, 'b': 2 }
            fp.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
            // ➜ { 'a': 1, 'b': 2 }
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="main.js"></script>
    </body>

</html>
